<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Weavy Cloud File Picker</title>
    <environment include="Development">        
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">        
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <div>
        @RenderBody()
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>        
        <script type="text/javascript" src="https://www.dropbox.com/static/api/2/dropins.js" id="dropboxjs" data-app-key="n3lzi8ia37kv4pw"></script>
        <script type="text/javascript" src="https://cdn01.boxcdn.net/js/static/select.js"></script>
        <script type="text/javascript" src="https://js.live.net/v7.2/OneDrive.js"></script>

        <script src="~/js/weavy-filebrowser.js" asp-append-version="true"></script>
        <script src="~/js/weavy-google.js" asp-append-version="true"></script>
        <script src="~/js/weavy-dropbox.js" asp-append-version="true"></script>
        <script src="~/js/weavy-box.js" asp-append-version="true"></script>
        <script src="~/js/weavy-onedrive.js" asp-append-version="true"></script>

        <script src="~/js/weavy-helpers.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script type="text/javascript" src="https://www.dropbox.com/static/api/2/dropins.js" id="dropboxjs" data-app-key="n3lzi8ia37kv4pw"></script>
        <script type="text/javascript" src="https://cdn01.boxcdn.net/js/static/select.js"></script>
        <script type="text/javascript" src="https://js.live.net/v7.2/OneDrive.js"></script>

        <script src="~/js/filebrowser.min.js" asp-append-version="true"></script>        
    </environment>

    @RenderSection("Scripts", required: false)

</body>
</html>
